<!DOCTYPE html>
<html>
<head>
	<title>Create and Eat the Most Delicious Burger</title>
	<link rel="stylesheet" type="text/css" href="../public/assets/css/burger_style.css">
</head>
<body>
	<img src="../public/assets/img/burger.png" id="burgerpic">
	{{{body}}}
</body>
</html>