<h1>Eat Da Burger</h1>

<section>
	<div class="left">
		{{#each burgers}}
			{{#unless burgers.devoured}}
				<div>
					<form action="/burgers/{{burgers.id}}" method="POST">
						<button type="submit" class="availableBurgers"> {{burgers.burger_name}}</button>
					</form>
				</div>
			{{/unless}}
		{{/each}}
	</div>

	<div class="right">
		{{#each burgers}}
			{{#if burgers.devoured}}
				<div class="eatenBurgers">
					{{burgers.burger_name}}
				</div>
			{{/if}}
		{{/each}}
	</div>
</section>

<h2>Add a Burger!</h2>

<div class="bottom">
	<form action="/burgers" method="POST">
		<input type="text" name="burger_name">
		<button type="submit" class="addBurgerBtn">Add Burger</button>
	</form>
</div>